<section class="py-5">
	<div class="container">
		<div class="row justify-content-center text-center mb-3">
			<div class="col-lg-8 col-xl-7">
				<span class="text-muted">Features</span>
				<h2 class="display-5 fw-bold">Our Features</h2>
				<p class="lead">Our project is designed to provide comprehensive assistance and support to blind individuals, enabling them to navigate their surroundings, access information, and communicate effectively through advanced assistive technologies</p>
			</div>
		</div>
		<div class="row g-4 g-md-5">
			<div class="col-md-6">
				<div class="d-flex">
					<div class="text-primary me-4">
						<i style="height:15px; font-size: 36px;" class="fa fa-blind "  ></i>
					</div>
					<div>
						<h5 class="mb-2 mb-lg-3 fw-bold">Auto Navigation with Lidar 1D</h5>
						<p>Our system utilizes Lidar 1D technology coupled with a servo motor to automatically detect obstacles in the user's path and provide real-time voice feedback on the safest direction to navigate.</p>
					</div>
				</div>
			</div>
            <div class="col-md-6">
				<div class="d-flex">
					<div class="text-primary me-4">
                        <i style="height:15px; font-size: 36px;" class="fa fa-camera "  ></i>	
                    </div>
					<div>
						<h5 class="mb-2 mb-lg-3 fw-bold">Scene Description with Camera:</h5>
						<p>Our Raspberry Pi camera captures images of the user's surroundings and provides detailed scene descriptions, helping users identify and locate objects with ease.</p>
					</div>
				</div>
			</div>
            <div class="col-md-6">
				<div class="d-flex">
					<div class="text-primary me-4">
                        <i style="height:15px; font-size: 36px;" class="fa fa-map-o "  ></i>	
                    </div>
					<div>
						<h5 class="mb-2 mb-lg-3 fw-bold">Integration with Google Maps API:</h5>
						<p>Users can specify their destination verbally, and our system seamlessly integrates with Google Maps API to provide navigation directions in real-time without closing the app.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="d-flex">
					<div class="text-primary me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="40" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
                            <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                          </svg>
					</div>
					<div>
						<h5 class="mb-2 mb-lg-3 fw-bold">Gemini AI Pro Assistant: </h5>
						<p>Our voice-activated AI assistant, Gemini AI Pro, allows users to ask questions and receive responses through voice feedback, providing instant access to information and assistance.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="d-flex">
					<div class="text-primary me-4">
						<i style="height:15px; font-size: 36px;" class="fa fa-location-arrow "  ></i>
					</div>
					<div>
						<h5 class="mb-2 mb-lg-3 fw-bold">Location Sharing with Guard</h5>
						<p>Users have the ability to share their location with designated guards or caregivers, enabling remote monitoring and assistance. Guards can also request the user's location through the system.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="d-flex">
					<div class="text-primary me-4">
						<i style="height:15px; font-size: 36px;" class="fa fa-search "  ></i>
					</div>
					<div>
						<h5 class="mb-2 mb-lg-3 fw-bold">Find Objects with Direction Feedback</h5>
						<p>Our system utilizes object recognition technology to detect objects in the user's surroundings. When a user asks for information about their surroundings, the system uses the camera to detect objects and provides voice feedback with the clock direction in which the object is located, enhancing spatial awareness and navigation.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer class=" site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h6>About US</h6>
          <p class="text-justify">Welcome to Blindness Assistant, where we are dedicated to creating innovative solutions to empower blind individuals and enhance their quality of life. Our project is designed to provide comprehensive assistance and support to blind individuals, enabling them to navigate their surroundings, access information, and communicate effectively through advanced assistive technologies.</p>
        </div>
      </div>
    </div>
</footer>